* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    display: inline-block;
    /* background-color: olivedrab; */
    padding: 12px;
    letter-spacing: 1px;
    position: relative;
    left: 905px;
    font-size: 20px;
}

li:hover {
    background-color: lightgrey;
    border-radius: 30px;
    box-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 15px white,inset 0px 0px 10px black;
}

nav {
    background-color: gray;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
nav>h1{
    position: absolute;
    left: 52px;
    top: 8px;
}
nav>img{
    position: absolute;
    width: 50px;
    height: 47px;
    border: 1px solid red;
}

